<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926048038588-eojr1l2nfa47mlbphde48p0v55hqibi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926048038588-eojr1l2nfa47mlbphde48p0v55hqibi4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_VJL6zrsxfqyqLO6vw6SWzvazxD6JkKk</string>
	<key>GCM_SENDER_ID</key>
	<string>926048038588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mutluaydin.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-61e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-61e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926048038588:ios:2ed0c9542550b9b7536ab9</string>
</dict>
</plist>